In [4]:
# Import pandas and json
import pandas as pd

#get the file from github and read it
!curl https://raw.githubusercontent.com/nytimes/covid-19-data/master/live/us-counties.csv > ~/counties.csv
df = pd.read_csv('~/counties.csv')

#remove US territories
territories = ['Puerto Rico','Virgin Islands','Guam','Northern Mariana Islands','American Samoa']
for x in territories:
    df.drop(df.index[df["state"] == x], inplace=True)

#remove columns that we will not use
df.drop(df.index[df["county"] == 'Unknown'], inplace=True)
df.drop(df.index[df["county"] == ' '], inplace=True)
df.drop(df.index[df["fips"].isnull()],inplace=True)
df.drop(columns=['state','county'],inplace=True)
df.drop(columns='probable_cases', inplace=True)
df.drop(columns='confirmed_cases', inplace=True)
df.drop(columns='probable_deaths', inplace=True)
df.drop(columns='confirmed_deaths', inplace=True)

#case columns as int
df['fips'] = df['fips'].astype(int)
df['deaths'] = df['deaths'].astype(int)
df['cases'] = df['cases'].astype(int)


#remove the case columns from death
deathDf = df.copy(deep=True)

deathDf.drop(columns='cases', inplace=True)
df.drop(columns='deaths', inplace=True)
df

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  167k  100  167k    0     0   767k      0 --:--:-- --:--:-- --:--:--  767k

            date   fips  cases
0     2021-11-05   1001  10314
1     2021-11-05   1003  37529
2     2021-11-05   1005   3611
3     2021-11-05   1007   4295
4     2021-11-05   1009  10510
...          ...    ...    ...
3244  2021-11-05  56037   7684
3245  2021-11-05  56039   5241
3246  2021-11-05  56041   3880
3247  2021-11-05  56043   1770
3248  2021-11-05  56045   1149

[3133 rows x 3 columns]

In [5]:
#create death csv
deathDf.to_csv("deaths.csv",index=False)

In [6]:
#create cases csv
df.to_csv("cases.csv",index=False)

In [7]:
!curl https://raw.githubusercontent.com/do71730/data/main/vaccination.csv> ~/countiesVac.csv
df2 = pd.read_csv('~/countiesVac.csv')

#remove US territories
territories2 = ['AS','GU','MP','PR','VI']
for x in territories2:
    df2.drop(df2.index[df2["Recip_State"] == x], inplace=True)

#remove unknown fips
df2.drop(df2.index[df2["FIPS"] == "UNK" ],inplace=True)
df2['FIPS'] = df2['FIPS'].astype(int)
df2['Series_Complete_Yes'] = df2['Series_Complete_Yes'].astype(int)

df2.drop(df2.loc[:,'Series_Complete_12Plus' :  ].columns,axis=1,inplace=True)
df2.drop(columns=['MMWR_week','Series_Complete_Pop_Pct','Recip_State','Recip_County'], inplace=True)
df2['Date'] = df2['Date'].str.replace('/','-')
df2.rename(columns={'FIPS' : 'fips','Series_Complete_Yes' : 'vaccine'},inplace=True)
df2

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  486k  100  486k    0     0  1303k      0 --:--:-- --:--:-- --:--:-- 1303k

            Date   fips  vaccine
0     11-05-2021  21009    18133
1     11-05-2021  48299    10236
2     11-05-2021  40151     3316
3     11-05-2021  17023     6754
4     11-05-2021  26053     8598
...          ...    ...      ...
3278  11-05-2021  17027    19462
3279  11-05-2021  51037     4399
3280  11-05-2021  26141     7131
3281  11-05-2021  32009      328
3282  11-05-2021  36077    33229

[3142 rows x 3 columns]

In [8]:
#create vaccine csv
df2.to_csv("vaccine.csv",index=False)